* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 24pt;
  font-weight: 500;
  margin-top: 35px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  align-items: center;
  background-color: #d9d9d9;
  gap: 35px;
}

.main_row {
  width: 350px;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
}

.input_holder {
  width: 220px;
  border: solid 1.5px #27ace5;
  border-radius: 5px;
  justify-items: center;
}

.main_input {
  width: 200px;
  background-color: none;
  outline: none;
}

.main_btn {
  width: 55px;
  height: 55px;
}

.fine_line {
  width: 302px;
  height: 1px;
  background-color: blue;
}
